.btn {
  padding: 10px;
  display: flex;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
}
.btn.main {
  --btn-bg: #334b7c;
  --btn-border: #334b7c;
  --btn-hover: #27395c;
}
.btn.delete {
  --btn-bg: #c22323;
  --btn-border: #c22323;
  --btn-hover: #8b2222;
}
.btn.save {
  --btn-bg: #1b944d;
  --btn-border: #1b944d;
  --btn-hover: #19703d;
}
.btn.cancel {
  --btn-bg: #5a5a5a;
  --btn-border: #5a5a5a;
  --btn-hover: #464646;
}

.btn.containd {
  background-color: var(--btn-bg);
  color: white;
  border: solid 1px transparent;
}
.btn.containd:hover {
  background-color: var(--btn-hover);
}

.btn.outlin {
  background-color: transparent;
  border: solid 1px var(--btn-border);
  color: var(--btn-border);
}
.btn.outlin:hover {
  background-color: var(--btn-border);
  color: white;
}

button.sending:disabled {
  opacity: 0.9;
}

.btn.sending article {
  width: 10px;
  height: 10px;
  display: block;
  border: solid 3px;
  border-color: white white white transparent;
  border-radius: 50%;
  animation: loader 1s infinite linear;
}
